* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

.chart {
	padding: 5px;
	width: 100%;
	height: 100%;
}

.chart div {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	/*padding: 3px;*/
	/*margin: 5px;*/
	color: white;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}